<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>似是书苑</title>
    <link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/main.js"></script>
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
</head>
<body>
    <div class="header_con">
        <div class="header">
            <a href="#" class="logo fl"><img src="../../static/news/images/logo.jpg" alt="logo"></a>
            <ul class="menu fl">
                <li class="active" data-cid="0"><a href="javascript:;">推荐</a></li>
                <li data-cid="1"><a href="javascript:;">玄幻</a></li>
                <li data-cid="2"><a href="javascript:;">仙侠</a></li>
                <li data-cid="3"><a href="javascript:;">都市</a></li>
                <li data-cid="4"><a href="javascript:;">历史</a></li>
                <li data-cid="5"><a href="javascript:;">言情</a></li>
            </ul>
            <div class="user_btns fr">
                <a href="javascript:;" class="login_btn">登录</a> / <a href="javascript:;" class="register_btn">注册</a>
            </div>
            <!-- 用户登录后显示下面，隐藏上面 -->
            <div class="user_login fr">
                <img src="../../static/news/images/person.png" class="lgin_pic">
                <a href="#">用户张三</a>
                <a href="#">退出</a>
            </div>
        </div>
    </div>
    
    <div class="conter_con">
        <ul class="list_con fl">
            <li>
                <a href="#" class="news_pic fl"><img src="../../static/news/images/mushenji.jpg"></a>
                <a href="#" class="news_title fl">牧神记</a>
                <a href="#" class="news_detail fl">
    大墟的祖训说，天黑，别出门。
    大墟残老村的老弱病残们从江边捡到了一个婴儿，取名秦牧，含辛茹苦将他养大。这一天夜幕降临，黑暗笼罩大墟，秦牧走出了家门……
    做个春风中荡漾的反派吧！
    瞎子对他说。
    秦牧的反派之路，正在崛起！
    各位书友要是觉得《牧神记》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！</a>
                <div class="author_info fl">
                    <div class="author fl">
                        <img src="../../static/news/images/person.png" alt="author">
                        <a href="#">宅猪</a>
                    </div>
                    <div class="time fl">2019-01-01 00:00:00</div>
                </div>
            </li>
            <li>
                <a href="#" class="news_pic fl"><img src="../../static/news/images/feijianwendao.jpg"></a>
                <a href="#" class="news_title fl">飞剑问道</a>
                <a href="#" class="news_detail fl">
    在这个世界，有狐仙、河神、水怪、大妖，也有求长生的修行者。
    修行者们，
    开法眼，可看妖魔鬼怪。
    炼一口飞剑，可千里杀敌。
    千里眼、顺风耳，更可探查四方。
    ……
    秦府二公子‘秦云’，便是一位修行者……
    各位书友要是觉得《飞剑问道》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！</a>
                <div class="author_info fl">
                    <div class="source fl">
                        <img src="../../static/news/images/person.png" alt="author">
                        <a href="#">我吃西红柿</a>
                    </div>
                    <div class="time fl">2019-01-01 00:00:00</div>
                </div>
            </li>
            <li>
                <a href="#" class="news_pic fl"><img src="../../static/news/images/yuanzun.jpg"></a>
                <a href="#" class="news_title fl">元尊</a>
                <a href="#" class="news_detail fl">吾有一口玄黄气，可吞天地日月星。天蚕土豆最新鼎力大作，2017年度必看玄幻小说。
    各位书友要是觉得《元尊》还不错的话请不要忘记向您qq群和微博里的朋友推荐哦！</a>
                <div class="author_info fl">
                    <div class="author fl">
                        <img src="../../static/news/images/person.png" alt="author">
                        <a href="#">天蚕土豆</a>
                    </div>
                    <div class="time fl">2019-01-01 00:00:00</div>
                </div>
            </li>
            <li>
                <a href="#" class="news_pic fl"><img src="../../static/news/images/wujiang.jpg"></a>
                <a href="#" class="news_title fl">无疆</a>
                <a href="#" class="news_detail fl">
鹰击长空，鱼跃龙门，熊咆虎啸，万物皆有灵。末法之极，磁极轮转，世界变迁。曾经那个熟悉的世界，已经变得面目全非。
当神话变成现实，当传说不再神秘，世界无疆，热血永恒。
各位书友要是觉得《无疆》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！</a>
                <div class="author_info fl">
                    <div class="source fl">
                        <img src="../../static/news/images/person.png" alt="author">
                        <a href="#">小刀锋利</a>
                    </div>
                    <div class="time fl">2019-01-01 00:00:00</div>
                </div>
            </li>
        </ul>
        <div class="rank_con fr">
            <div class="rank_title">
                <h3>点击排行</h3>
            </div>
            <ul class="rank_list">
                <li><span class="first">1</span><a href="#">牧神记</a></li>
                <li><span class="second">2</span><a href="#">飞剑问道</a></li>
                <li><span class="third">3</span><a href="#">元尊</a></li>
                <li><span>4</span><a href="#">无疆</a></li>
                <li><span>5</span><a href="#">大劫主</a></li>
                <li><span>6</span><a href="#">三寸人间</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">        
        <div class="footer_links">
            <a href="">招租</a>
            <span>|</span>
            <a href="">招租</a>
            <span>|</span>
            <a href="">招租</a>
            <span>|</span>
            <a href="">招租</a>
        </div>
        <p class="copyright">
           声明<br />
           声明
        </p>
    </div>
    
    <!-- 登录表单 -->
    <form class="login_form_con">
        <div class="login_form">
            <div class="login_title">
                <h3>登 录</h3>
                <a href="javascript:;" class="shutoff"></a>
            </div>
            <div class="form_group">
                <input id="mobile" type="text" name="mobile" autocomplete="off">
                <div class="input_tip">手机号</div>
                <div id="login-mobile-err" class="error_tip">手机号不能为空</div>
            </div>
            <div class="form_group">
                <input id="password" type="password" name="password">
                <div class="input_tip">密码(不少于6位)</div>
                <div id="login-password-err" class="error_tip">密码不能为空</div>
            </div>
            <input type="submit" name="" value="登 录" class="input_sub">
            <div class="down_link">还没有账号？<a href="javascript:;" class="to_register">立即注册</a></div>
        </div>
        <div class="mask"></div>
    </form>

    <!-- 注册表单 -->
    <form class="register_form_con">
        <div class="register_form">
            <div class="register_title">
                <h3>注 册</h3>
                <a href="javascript:;" class="shutoff"></a>
            </div>
            <div class="form_group">
                <input type="text" name="mobile" autocomplete="off" id="register_mobile" class="phone_input">
                <div class="input_tip">手机号</div>
                <div id="register-mobile-err" class="error_tip">手机号不能为空</div>
            </div>
            <div class="form_group">
                <input type="text" name="code_pwd" id="imagecode" class="code_pwd">
                <div class="input_tip">图形验证码</div>
                <img src="../../static/news/images/pic_code.png" class="get_pic_code" onclick="generateImageCode()">
                <div id="register-image-code-err" class="error_tip">图形码不能为空</div>
            </div>
            <div class="form_group">
                <input type="text" name="smscode" id="smscode" class="code_pwd">
                <div class="input_tip">手机验证码</div>
                <a href="javascript:;" class="get_code" onclick="sendSMSCode()">点击获取验证码</a>
                <div id="register-sms-code-err" class="error_tip">验证码不能为空</div>
            </div>
            <div class="form_group">
                <input type="password" name="password" id="register_password" class="pass_input">
                <div class="input_tip">密码(不少于6位)</div>
                <div id="register-password-err" class="error_tip">密码不能为空</div>
            </div>
            <div  class="form_group2 clearfix">
                <input type="checkbox" class="agree_input" checked>
                <p>同意使用条款，并已阅读"跟帖评论自律管理承诺书"</p>
                <div class="error_tip">请勾选</div>
            </div>
            <input type="submit" name="" value="注 册" class="input_sub">
            <div class="down_link">已有账号？<a href="javascript:;" class="to_login">立即登录</a></div>
        </div>
        <div class="mask"></div>
    </form>
</body>
</html>
